@import "@radix-ui/themes/styles.css";

tfoot {
	border-top: 1px solid var(--black-a2);
}

tbody {
	.rt-TableRow:hover {
		background-color: var(--black-a1);
	}
}

.radix-themes {
	--cursor-button: pointer;
	--cursor-checkbox: pointer;
	--cursor-disabled: default;
	--cursor-link: pointer;
	--cursor-menu-item: pointer;
	--cursor-radio: pointer;
	--cursor-slider-thumb: grab;
	--cursor-slider-thumb-active: grabbing;
	--cursor-switch: pointer;
	--default-font-family: "Untitled Sans", sans-serif;
}

/* Not my proudest moment - hard coded these to match figma for now */
.button-match {
	background-color: #6565EC !important
}

.button-match-hover:hover {
	background-color: #6565EC !important
}